<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings  xdt:Transform="Replace">
    <add name="DataContext" providerName="System.Data.SqlClient" connectionString="Server=(local);Database=Sandbox.AddressFormatter.Data;Trusted_Connection=True;" />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>