<div class="panel panel-default" ng-show="show">

    <div class="panel-body">
        <div>
            <div class="row">
                <div class="col-xs-8">
                    <h5>Lines</h5>
                    <div class="lines">
                        <div class="line form-control"
                            ng-repeat="line in selected.lines">
                            {{line.prefix}}
                            <div class="element"
                                ui-draggable="true" drag="element"
                                on-drop-success="removeFrom(element, line.elements)"
                                ui-on-drop="drop($data,line,element)"
                                ng-repeat="element in line.elements">
                                <div
                                    ng-class="{active:element.isSelected}"
                                    ng-click="selectElement(element)">
                                    {{element.prefix}}
                                    &lt;{{element.name}}&gt;
                                    {{element.suffix}}
                                    <span aria-hidden="true"
                                        ng-click="clearElement(element,line.elements)">&times;</span>
                                </div>
                            </div>
                            {{line.suffix}}
                            <div class="element-drop" ui-on-drop="drop($data,line)"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div ng-show="selectedElement">
                        <h5>{{selectedElement.name}}</h5>
                        <div class="form-group">
                            <input class="form-control"
                                   ng-model="selectedElement.prefix"
                                   ng-change="save(selected)"
                                   ng-trim="false"
                                placeholder="prefix" />
                        </div>
                        <div class="form-group">
                            <input class="form-control"
                                   ng-model="selectedElement.suffix"
                                   ng-change="save(selected)"
                                   ng-trim="false"
                                placeholder="suffix"/>
                        </div>
                    </div>
                    <div class="elements">
                        <h5>Elements</h5>
                        <div class="element"
                            ui-draggable="true" drag="element" on-drop-success="removeFrom(element,selected.allElements)"
                            ng-repeat="element in selected.allElements">
                            <div>
                                {{element.prefix}}
                                &lt;{{element.name}}&gt;
                                {{element.suffix}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-xs-6">
                    <div class="countries">
                        <h5>Countries</h5>
                        <div class="btn-group pull-right dropup" dropdown>
                            <button class="btn btn-default dropdown-toggle">
                                Select
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu scrolls">
                                <li
                                    ng-repeat="country in countries"
                                    ng-click="selectCountry(country)">
                                    <a href>{{country.name}}</a>
                                </li>
                            </ul>
                        </div>

                        <div class="selectedCountries">
                            <div class="country"
                                ng-repeat="country in selected.countries">
                                <div>
                                    {{country.name}}
                                    <span aria-hidden="true"
                                        ng-click="deselectCountry(country)">&times;</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-6">
                    <div class="preview">
                        <h5>Preview</h5>
                        <address formats-preview="selected" class="well"></address>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-footer">
        <button class="btn btn-danger"
            ng-disabled="!selected.countries.length"
            ng-click="delete(selected)">
            Delete</button>
    </div>
</div>
