<h5>Formats</h5>

<div class="form-group">
    <div class="input-group">
        <input class="form-control" placeholder="search"
            ng-model="formatsFilter" />
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
</div>

<div class="formats-list form-group">
    <div class="list-group">
        <a class="list-group-item" href
            ng-repeat="format in formats | filter:formatsFilter"
            ng-click="select(format)"
            ng-class="{active:format==selected}">{{format | formatDisplay}}
        </a>
    </div>
</div>

<div class="form-group clearfix">
    <button class="btn btn-primary pull-right" ng-click="add()">Add</button>
</div>
