<div class="form-group">
    <div class="input-group">
        <input class="form-control" placeholder="search" />
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
</div>

<div class="formats-list form-group">
    <div class="list-group">
        <a class="list-group-item" href
           ng-repeat="item in items"
           ng-click="select(item)"
           ng-class="{active:item==$parent.selected}">
            {{item.display}}
        </a>
    </div>

    <button class="btn btn-primary" ng-click="add()">Add</button>
</div>
