<div class="panel panel-default" ng-show="show">

    <div class="panel-body">
        <div>
            <div class="row">
                <div class="col-xs-9">
                    <h5>Lines</h5>
                    <div class="lines">
                        <div class="line form-control"
                            ng-repeat="line in selected.lines">
                            {{line.prefix}}
                            <div class="element"
                                ui-draggable="true" drag="element"
                                on-drop-success="removeFrom(element, line.elements)"
                                ui-on-drop="drop($data,line,element)"
                                ng-repeat="element in line.elements">
                                <div>
                                    {{element.prefix}}
                                    &lt;{{element.name}}&gt;
                                    {{element.suffix}}
                                    <span aria-hidden="true"
                                        ng-click="clearElement(element,line.elements)">&times;</span>
                                </div>
                            </div>
                            {{line.suffix}}
                            <div class="element-drop" ui-on-drop="drop($data,line)"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <h5>Elements</h5>
                    <div class="elements">
                        <div class="element"
                            ui-draggable="true" drag="element" on-drop-success="removeFrom(element,selected.allElements)"
                            ng-repeat="element in selected.allElements">
                            <div>
                                {{element.prefix}}
                    &lt;{{element.name}}&gt;
                    {{element.suffix}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="countries col-xs-12">
                    <h5>Countries</h5>
                    <div class="country"
                        ng-repeat="country in selected.countries">
                        <div>
                            {{country.name}}
                            <span aria-hidden="true"
                                ng-if="selected.countries.length>1"
                                ng-click="removeFrom(country,selected.countries)">&times;</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-footer">
        <button class="btn btn-danger"
            ng-disabled="!selected.countries.length"
            ng-click="delete(selected)">
            Delete</button>
    </div>
</div>
