body {
  padding-top: 60px;
}
.lines > div {
  margin-bottom: -1px;
}
.lines > div .input-group-addon {
  border-radius: 0;
}
.lines > div:first-child .input-group-addon:first-child {
  border-top-left-radius: 4px;
}
.lines > div:first-child .input-group-addon:last-child {
  border-top-right-radius: 4px;
}
.lines > div:last-child .input-group-addon:first-child {
  border-bottom-left-radius: 4px;
}
.lines > div:last-child .input-group-addon:last-child {
  border-bottom-right-radius: 4px;
}
.line {
  height: auto;
  min-height: 44px;
}
.element {
  cursor: pointer;
  float: left;
  border-radius: 4px;
  margin: 2px;
  padding: 5px;
  background-color: #d9edf7;
  color: #31708f;
  font-size: .8em;
}
